<section class="section__main">
  <div class="container">
    <header class="header">
      <nav class="menu">
        <ul class="menu__list">
          <li class="menu__item"><a href="#" class="menu__link"></a>Home</li>
          <li class="menu__item"><a href="#" class="menu__link"></a>About</li>
          <li class="menu__item"><a href="#" class="menu__link"></a>
            <img class="images-icon" src="icon/Logo.svg"alt="Logo"></li>
          <li class="menu__item"><a href="#" class="menu__link"></a>Blog</li>
          <li class="menu__item"><a href="#" class="menu__link"></a>Gallery</li>
        </ul>
      </nav>
    </header>
    <main class="main">
      <div class="main__background main__background--5" style="background-image: url(images/layer-5.png);"></div>
      <div class="main__background main__background--4" style="background-image: url(images/layer-4.png);"></div>
      <div class="main__background main__background--3" style="background-image: url(images/layer-3.png);">
        <div class="main-text">
          <h1 class="title">let's go </h1>
          <p class="text">on an incredible journey</p>
        </div>
      </div>
      <div class="main__background main__background--2" style="background-image: url(images/layer-2.png);"></div>
      <div class="main__background main__background--1" style="background-image: url(images/layer-1.png);"></div>
    </main>
    <div class="arrow-box">
      <div class="arrows">

      </div>
    </div>
  </div>
</section>
<section>
</section>
