.menu {
  position: fixed;
  z-index: 1;
  left: 0;
  right: 0;
  padding: 60px 0;
}

.menu__list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 60px;
}

.main-text {
  font-family: "Gravitas One", serif;
  position: relative;
  z-index: 1;
  animation-name: text;
  opacity: 0;
  animation-timing-function: linear;
  animation-timeline: scroll();
  animation-fill-mode: both;
  animation-range: 150vh 250vh;
}

@keyframes text {
  to {
    opacity: 1;
  }
}

.title {
  text-transform: uppercase;
  font-size: 120px;
}

.text {
  font-size: 24px;
}

.main__background {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

@supports(animation-timeline:scroll()) {
  .main {
    height: 400vh;
  }

  .main__background {
    animation-timing-function: linear;
    animation-timeline: scroll();
    animation-fill-mode: both;
    animation-range: 0 400vh;
  }
}

.main__background--5 {
  animation-name: background-5;
}

@keyframes background-5 {
  to {
    scale: 1.25;
  }
}

.main__background--4 {
  animation-name: background-4;
}

@keyframes background-4 {
  to {
    scale: 1.35;
  }
}

.main__background--3 {
  animation-name: background-3;
}

@keyframes background-3 {
  to {
    scale: 1.5;
  }
}

.main__background--2 {
  animation-name: background-2;
}

@keyframes background-2 {
  to {
    scale: 2;
  }
}

.main__background--1 {
  animation-name: background-1;
}

@keyframes background-1 {
  to {
    scale: 4;
  }

}


.arrow-box {
  border: 1px solid #fff;
  background-color: rgba(20, 20, 20, .7);
  border-radius: 50%;
  width: 60px;
  height: 60px;
  margin: 0 auto;
  position: fixed;
  z-index: 1;
  left: 0;
  right: 0;
  bottom: 50px;
}

.arrows {
  width: 12px;
  height: 12px;
  position: relative;
  margin: 20px auto 0;

}

.arrows::after,
.arrows::before {
  content: '';
  position: absolute;
  border-bottom: 2px solid #fff;
  border-left: 2px solid #fff;
  width: 100%;
  height: 100%;
  animation: arrow 3s linear infinite;
}

.arrows::after {
  animation: arrow 3s linear infinite -1.5s;
}

@keyframes arrow {
  0% {
    opacity: 0;
    transform: translate(0, -10px)rotate(-45deg);
  }

  10%,
  90% {
    opacity: 0;
  }

  50% {
    opacity: 1;
    transform: translate(0, 0)rotate(-45deg);
  }

  100% {
    opacity: 0;
    transform: translate(0, +10px)rotate(-45deg);
  }
}
.content{
  position: relative;
  height: 100vh;
}
